<div class="flex-column">
  <div class="input-preview-content">
    <div class="input-preview-wrapper" appDnd (filesChangeEmiter)="addToGallery($event)">
      <div class="input-preview-item" *ngFor="let file of gallery; let i=index">
        <div class="input-preview-item__delete" (click)="removeFromGallery(i)"><span>x</span></div>
        <img class="input-preview-item__image" [src]="getImagePreview(file)">
        <p class="input-preview-item__name">{{ file.name }}</p>
      </div>

      <div class="input-preview-wrapper__placeholder" *ngIf="gallery.length==0">
        Drag & drop files here...
      </div>
    </div>
  </div>

  <div class="input-file">
    <div class="input-file__description">
      <mat-icon>insert_drive_file</mat-icon>
      <p [style.color]="gallery.length ? 'rgba(0, 0, 0, 0.87)' : 'rgba(0, 0, 0, 0.26)'">
        {{ gallery.length ? (gallery.length==1 ? (gallery[0].name) : (gallery.length + ' files selected')) : 'Select file' }}
      </p>
    </div>

    <div class="input-file__buttons">
      <input
        type='file'
        multiple
        #inputFile
        (change)="addToGallery($event)"
        (keyup)="addToGallery($event)"
        style="display: none;"
      >
      <button type="button" mat-raised-button (click)="cleanGallery()">
        <mat-icon>delete</mat-icon>
        DELETE
      </button>
      <button type="button" mat-raised-button color="primary" (click)="inputFile.click()">
        <mat-icon>folder</mat-icon>
        BROWSE
      </button>
    </div>
  </div>
</div>
