<div class="carded">
    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent">
            <h2>Movies</h2>

            <div>
                <button type="button" mat-raised-button class="u-margin-l-8">
                    <mat-icon>delete</mat-icon>DELETE
                </button>
                
                <button type="button" mat-raised-button class="u-margin-l-8">
                    <mat-icon>edit</mat-icon>EDIT
                </button>

                <button type="button" mat-raised-button class="u-margin-l-8" (click)="onCustomerAddNavigate()">
                    <mat-icon>add</mat-icon>ADD
                </button>
            </div>
        </div>

        <div class="content-card">
            <perfect-scrollbar>
                <mat-table [dataSource]="dataSource" matSort class="vertical-fit">
                    <ng-container matColumnDef="title">
                        <mat-header-cell fxFlex="25" *matHeaderCellDef> Title </mat-header-cell>
                        <mat-cell fxFlex="25" *matCellDef="let movie"> {{movie.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="overview">
                        <mat-header-cell *matHeaderCellDef> Overview </mat-header-cell>
                        <mat-cell *matCellDef="let movie"> {{movie.overview | slice:0:50}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="popularity">
                        <mat-header-cell fxFlex="10" fxFlex.lt-md="15" fxHide.lt-sm *matHeaderCellDef> Popularity </mat-header-cell>
                        <mat-cell fxFlex="10" fxFlex.lt-md="15" fxHide.lt-sm *matCellDef="let movie"> {{movie.popularity}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="vote_average">
                        <mat-header-cell fxFlex="10" fxFlex.lt-md="15" fxHide.lt-sm *matHeaderCellDef> Vote average </mat-header-cell>
                        <mat-cell fxFlex="10" fxFlex.lt-md="15" fxHide.lt-sm *matCellDef="let movie"> {{movie.vote_average}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="release_date">
                        <mat-header-cell fxFlex="15" fxHide.lt-md *matHeaderCellDef> Release date </mat-header-cell>
                        <mat-cell fxFlex="15" fxHide.lt-md *matCellDef="let movie"> {{movie.release_date}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onMovieDetailNavigate(row)"></mat-row>
                </mat-table>
            </perfect-scrollbar>
            
            <mat-paginator #paginator
                           showFirstLastButtons
                           [length]=0
                           [pageIndex]=0
                           [pageSize]=0
                           (page)="loadMovies($event)">
            </mat-paginator>
        </div>
    </div>
</div>