$app-primary-palette: (
    50 : #e8e8ea,
    100 : #c5c6cb,
    200 : #9ea1a9,
    300 : #777b86,
    400 : #595e6c,
    500 : #3c4252,
    600 : #363c4b,
    700 : #2e3341,
    800 : #272b38,
    900 : #1a1d28,
    A100 : #6e93ff,
    A200 : #3b6cff,
    A400 : #0846ff,
    A700 : #003bee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-accent-palette:  (
    50 : #e1f5fe,
    100 : #b3e5fc,
    200 : #81d4fa,
    300 : #4fc3f7,
    400 : #29b6f6,
    500 : #03a9f4,
    600 : #039be5,
    700 : #0288d1,
    800 : #0277bd,
    900 : #01579b,
    A100 : #80d8ff,
    A200 : #40c4ff,
    A400 : #00b0ff,
    A700 : #0091ea,
    contrast: (
        50 : rgba(0,0,0,.87),
        100 : rgba(0,0,0,.87),
        200 : rgba(0,0,0,.87),
        300 : rgba(0,0,0,.87),
        400 : rgba(0,0,0,.87),
        500 : #fff,
        600 : #fff,
        700 : #fff,
        800 : #fff,
        900 : #fff,
        A100 : rgba(0,0,0,.87),
        A200 : rgba(0,0,0,.87),
        A400 : rgba(0,0,0,.87),
        A700 : #fff,
    )
);

