<div class="logo" fxHide.gt-xs>A</div>

<div class="title">SIGN IN</div>

<form [formGroup]="form" (ngSubmit)="form.valid && loginUser()">
    <fieldset [disabled]="loginLoading">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email">

            <mat-error *ngIf="form.controls['email'].hasError('email')" class="form-control-feedback">
                Invalid Email
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('required')" class="form-control-feedback">
                Email is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">

            <mat-error *ngIf="form.controls['password'].hasError('required')" class="form-control-feedback">
                Password is required
            </mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="loginLoading" mat-raised-button color="primary">SIGN IN</button>
    </fieldset>
</form>

<div class="redirection">
    <span class="text">Don't have an account?</span>
    <a class="link" routerLink="/auth/register">Sign up</a>
</div>

<mat-spinner class="loading" [diameter]="25" *ngIf="loginLoading">
</mat-spinner>
