<div class="logo" fxHide.gt-xs>A</div>

<div class="title">CREATE AN ACCOUNT</div>

<form [formGroup]="form" (ngSubmit)="form.valid && registerUser()">
    <fieldset [disabled]="(registerSubscription && !registerSubscription.closed)">
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">

            <mat-error *ngIf="form.controls['email'].hasError('pattern')" class="form-control-feedback">
                Invalid Email
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('required')" class="form-control-feedback">
                Email is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Código" formControlName="codigo">

            <mat-error *ngIf="form.controls['codigo'].hasError('required')" class="form-control-feedback">
                Código is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">

            <mat-error *ngIf="form.controls['password'].hasError('required')" class="form-control-feedback">
                Password is required
            </mat-error>
            <mat-error *ngIf="form.controls['password'].hasError('minlength')">
                Password with less than 6 characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password (Confirm)" formControlName="passwordConfirmation" [errorStateMatcher]="matcher">

            <mat-error *ngIf="form.controls['passwordConfirmation'].hasError('required') || form.hasError('notSame')" class="form-control-feedback">
                Passwords must match
            </mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="(registerSubscription && !registerSubscription.closed) || !form.valid" mat-raised-button color="primary">CREATE AN ACCOUNT</button>
    </fieldset>
</form>

<div class="redirection">
    <span class="text">Already have an account?</span>
    <a class="link" routerLink="/auth/login">Login</a>
</div>

<mat-spinner class="loading" [diameter]="25" *ngIf="(registerSubscription && !registerSubscription.closed)"></mat-spinner>