<div class="carded">
    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent">
            <h2>Customer</h2>

            <div>
                <button type="button"
                        mat-raised-button
                        class="u-margin-l-8"
                        [disabled]="clientForm.invalid"
                        *ngIf="pageType ==='new'" (click)="addCustomer()">
                    <span>ADD</span>
                </button>

                <button type="button"
                        mat-raised-button
                        class="u-margin-l-8"
                        [disabled]="clientForm.invalid || clientForm.pristine"
                        *ngIf="pageType ==='edit'" (click)="saveCustomer()">
                    <span>SAVE</span>
                </button>

                <button type="button"
                        mat-raised-button
                        class="u-margin-l-8"
                        *ngIf="pageType ==='edit'" (click)="confirmDeleteCustomer()">
                    <span>DELETE</span>
                </button>
            </div>
        </div>

        <form [formGroup]="clientForm">
            <fieldset>
                <div class="content-card">
                    <mat-tab-group>
                        <mat-tab label="Basic Information">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Name" type="text" formControlName="name">
                                <mat-error *ngIf="false" class="form-control-feedback">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                    
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Document Type" type="text" formControlName="documentType">
                                <mat-error *ngIf="false" class="form-control-feedback">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                    
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Document Number" type="text" formControlName="documentNumber">
                                <mat-error *ngIf="false" class="form-control-feedback">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                    
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Email" type="email" formControlName="email">
                                <mat-error *ngIf="false" class="form-control-feedback">
                                    Invalid Email
                                </mat-error>
                            </mat-form-field>
                    
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Address" type="text" formControlName="address">
                                <mat-error *ngIf="false" class="form-control-feedback">
                                    Required field
                                </mat-error>
                            </mat-form-field>
                    
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Telephone" type="tel" formControlName="phoneNumber">
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </fieldset>
        </form>
    </div>
</div>
