<div class="file-resume">
  <div class="title">
    <h4>Enviar archivo de</h4>
    <h3>Cobranza</h3>
  </div>

  <div class="content">
    <app-file-upload-preview name="fileSelected" [(ngModel)]="fileSelected" (submit)="onSubmit()" [submited]="FileSubmitSuccessful">
    </app-file-upload-preview>
  </div>

  <div class="resume">
    <h5>Último archivo enviado:</h5>

    <ul>
      <li>
        <mat-icon>date_range</mat-icon>
        <b>Fecha:</b>
        <span>Jueves 04 Octubre 2018</span>
      </li>
      <li>
        <mat-icon>schedule</mat-icon>
        <b>Hora:</b>
        <span>13:30</span>
      </li>
      <li>
        <mat-icon>description_outline</mat-icon>
        <b>Registros:</b>
        <span>220</span>
      </li>
    </ul>
  </div>
</div>


<div class="file-resume">
  <div class="title">
    <h4>Recibir archivo de</h4>
    <h3>Resultados</h3>
  </div>

  <div class="content">
      <app-file-download-preview  name="fileAvailable" [(ngModel)]="fileAvailable" (download)="onDownload()">
      </app-file-download-preview>
  </div>

  <!-- <div class="resume">
    <h5>xxx</h5>

    <ul>
      <li>
        <mat-icon>menu</mat-icon>
        <b>Fecha:</b>
        <span>Jueves 04 Octubre 2018</span>
      </li>
      <li>
        <mat-icon>menu</mat-icon>
        <b>Hora:</b>
        <span>13:30</span>
      </li>
      <li>
        <mat-icon>menu</mat-icon>
        <b>Registros:</b>
        <span>220</span>
      </li>
    </ul>
  </div> -->
</div>