<div class="dashboard">
    <app-sidenav [toggle]="ToggleSidenavDemo" [fixed]="SidenavFixedState">
        <mat-toolbar class="sidenav-header">
            <mat-toolbar-row>
                <div class="logo">
                    <img class="logo-icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                    <span class="logo-text secondary-text">NgxAdmin</span>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="sidenav-menu">
            <dl>
                <dt routerLink="/dashboard/home" routerLinkActive="active">Home</dt>
            </dl>
            <dl>
                <dt routerLink="/dashboard/customer" routerLinkActive="active">Customer</dt>
            </dl>
            <dl class="submenu">
                <dt>Product</dt>
                <dd>
                    <a routerLink="/dashboard/product"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                       List
                    </a>
                    <a routerLink="/dashboard/product/detail"
                       routerLinkActive="active">
                       Detalle
                    </a>
                </dd>
            </dl>
        </div>
    </app-sidenav>

    <div class="wrapper">
        <mat-toolbar class="toolbar">
            <mat-toolbar-row>
                <button mat-button class="side-nav-toggle" (click)="ToggleSidenavDemo=!ToggleSidenavDemo">
                    <mat-icon> menu </mat-icon>
                </button>

                <button mat-raised-button class="warn-A400" style="margin-left: 8px;">
                    <mat-icon style="font-size: 18px; height: 18px; width: 24px; color: rgba(0,0,0,.54);">dashboard</mat-icon>
                    Material Theme (Angular 8)
                </button>

                <span fxFlex></span>

                <div class="user-menu">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <img src="http://fuse-angular-material.withinpixels.com/assets/images/avatars/profile.jpg" alt="User Image"> Administrator
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="above">
                        <button mat-menu-item style="min-width: 194px;">
                            <mat-icon> person </mat-icon>
                            <span> Profile </span>
                        </button>
                        <button mat-menu-item disabled>
                            <mat-icon> announcement </mat-icon>
                            <span> Notifications </span>
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon> exit_to_app </mat-icon>
                            <span> Logout </span>
                        </button>
                    </mat-menu>
                </div>

                <button mat-button [matMenuTriggerFor]="menuLanguage" class="settings">
                    <img src="http://fuse-angular-material.withinpixels.com/assets/images/flags/us.png" style="margin-right: 8px;">
                    <span>EN</span>
                </button>
                <mat-menu #menuLanguage="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="above">
                    <button mat-menu-item>
                        <img src="http://fuse-angular-material.withinpixels.com/assets/images/flags/us.png" style="margin-right: 8px;">
                        <span>EN</span>
                    </button>
                    <button mat-menu-item>
                        <img src="http://fuse-angular-material.withinpixels.com/assets/images/flags/es.png" style="margin-right: 8px;">
                        <span>ES</span>
                    </button>
                </mat-menu>

                <button mat-button class="settings" (click)="toggleFullscreen()">
                    <mat-icon>fullscreen</mat-icon>
                </button>

                <button mat-button class="settings">
                    <mat-icon>format_list_bulleted</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="content">
            <div class="content__body">
            <!-- <div class="content__body" style="padding: 16px;"> -->
                <router-outlet></router-outlet>
            </div>

            <div class="content__footer">
                <div id="license-footer">
                    NgxAdmin ©2018.
                    Code licensed under the <a ng-href="./license" class="md-accent" href="./license">MIT License</a>.
                </div>
            </div>
        </div>
    </div>
</div>