/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

html {
    // font-size: 62.5%;
    line-height: 1.4;
}

body, html, app-root, .dashboard {
    height: 100%;
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    color: #039be5;
    text-decoration: none;
}