@import '~@angular/material/theming';
// Plus imports for other components in your app.

$mat-blue: (
    50 : #e1e6ee,
    100 : #b3c0d5,
    200 : #8096ba,
    300 : #4d6c9e,
    400 : #274d89,
    500 : #012d74,
    600 : #01286c,
    700 : #012261,
    800 : #011c57,
    900 : #001144,
    A100 : #798bff,
    A200 : #465fff,
    A400 : #1332ff,
    A700 : #0021f8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$bv-orange: (
    50 : #ffefe0,
    100 : #ffd7b3,
    200 : #ffbc80,
    300 : #ffa14d,
    400 : #ff8c26,
    500 : #ff7800,
    600 : #ff7000,
    700 : #ff6500,
    800 : #ff5b00,
    900 : #ff4800,
    A100 : #ffffff,
    A200 : #fff5f2,
    A400 : #ffcdbf,
    A700 : #ffb9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-orange);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);