<div class="carded">
    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent">
            <div>
                <button mat-icon-button (click)="navigateToListPage()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div>
                    <h2>{{ movie ? movie.title : 'Movie' }}</h2>
                    <p>Movie Detail</p>
                </div>
            </div>

            <div>
                <button type="button"
                        mat-raised-button
                        class="u-margin-l-8"
                        [disabled]="movieForm.invalid"
                        *ngIf="pageType ==='new'" (click)="addMovie()">
                    <span>ADD</span>
                </button>

                <button type="button"
                        mat-raised-button
                        class="u-margin-l-8"
                        [disabled]="movieForm.invalid || movieForm.pristine"
                        *ngIf="pageType ==='edit'" (click)="saveMovie()">
                    <span>SAVE</span>
                </button>

                <button type="button"
                        mat-raised-button
                        class="u-margin-l-8"
                        *ngIf="pageType ==='edit'" (click)="confirmDeleteMovie()">
                    <span>DELETE</span>
                </button>
            </div>
        </div>

        <perfect-scrollbar class="content-card">
            <form [formGroup]="movieForm" class="vertical-fit">
                <fieldset>
                    <mat-tab-group selectedIndex="0">
                        <mat-tab label="Basic Information">
                            <div class="u-padding-16">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="adult" type="text" formControlName="adult">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="backdrop_path" type="text" formControlName="backdrop_path">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="budget" type="text" formControlName="budget">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <mat-chip-list #chipList aria-label="Fruit selection">
                                        <mat-chip *ngFor="let genre of movie?.genres">{{ genre.name }}</mat-chip>
                                        <input placeholder="genres" [matChipInputFor]="chipList">
                                    </mat-chip-list>
                                </mat-form-field>
                                <!-- <mat-form-field style="width: 100%">
                                    <input matInput placeholder="genre_ids" type="text" formControlName="genre_ids">
                                </mat-form-field> -->
                                <!-- <mat-form-field style="width: 100%">
                                    <input matInput placeholder="id" type="text" formControlName="id">
                                </mat-form-field> -->
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="homepage" type="text" formControlName="homepage">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="original_language" type="text" formControlName="original_language">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="original_title" type="text" formControlName="original_title">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="overview" type="text" formControlName="overview">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="popularity" type="text" formControlName="popularity">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="poster_path" type="text" formControlName="poster_path">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="release_date" type="text" formControlName="release_date">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="title" type="text" formControlName="title">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="video" type="text" formControlName="video">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="vote_average" type="text" formControlName="vote_average">
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="vote_count" type="text" formControlName="vote_count">
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="Collection">
                            <div class="u-padding-16" *ngIf="movie && movie.belongs_to_collection" fxLayout="row" fxLayoutGap="16px">
                                <img src="https://image.tmdb.org/t/p/w200/{{movie.belongs_to_collection.poster_path}}" alt="poster_path">
                                <div fxLayout="column" fxFlex>
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="Name" type="text" [(ngModel)]="movie.belongs_to_collection.name" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                    <mat-form-field style="width: 100%">
                                        <textarea matInput placeholder="Coments" rows="7">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos fugiat earum, facere numquam cupiditate impedit iusto obcaecati reiciendis eos vitae minima molestiae beatae illo debitis nihil modi nam sunt omnis sit, dolorem quas consequuntur explicabo tempore? Reprehenderit eos provident vero rem illum, autem illo cum aliquid iste facere architecto quibusdam.
                                        </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </fieldset>
            </form>
        </perfect-scrollbar>
    </div>
</div>
